
S0/cmake-build-debug/

S0/.idea/

S0/CMakeLists.txt

S1/.idea/

S1/cmake-build-debug/

S1/CMakeLists.txt

S2/.idea/

S2/cmake-build-debug/

S2/CMakeLists.txt

S3/.idea/

S3/cmake-build-debug/

S3/S3_javier.merida_olivia.rey.zip

S3/New folder/

S4/.idea/

S4/cmake-build-debug/

S4/CMakeLists.txt
